.lazy-hidden {
    opacity: 0
}

.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

* {
    box-sizing: border-box;
    font-weight: 100
}

html,
body {
    height: 100%;
    background-color: white;
    font-family: Helvetica, Helmut, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none
}

body {
    color: black;
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

h1 {
    font-size: 60px;
    margin-bottom: 30px
}

h2 {
    font-size: 40px;
    margin-bottom: 15px
}

h3 {
    font-size: 30px;
    margin-bottom: 15px
}

h4 {
    font-size: 20px;
    margin-bottom: 15px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: uppercase
}

ul,
ol {
    padding-left: 0
}

ul {
    list-style: disc inside
}

ol {
    list-style: decimal inside
}

p,
li {
    font-size: 20px;
    line-height: 1.5
}

img,
p,
ul,
pre,
ol {
    margin-bottom: 20px
}

iframe,
video,
img {
    height: auto;
    max-width: 100%;
    width: auto
}

a {
    color: black;
    outline: none;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

code {
    font-family: "andale mono", Helvetica, Helmut, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none
}

pre {
    background: #efefef;
    padding: 15px
}

@media print {
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 30px
    }
    h3 {
        font-size: 20px
    }
    h4 {
        font-size: 15px
    }
    h5 {
        font-size: 11px
    }
    h6 {
        font-size: 11px
    }
    p,
    li {
        font-size: 15px
    }
}

input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: 0
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.3
    }
    100% {
        opacity: 1
    }
}

@keyframes pulsate {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.3
    }
    100% {
        opacity: 1
    }
}

.sv-badge {
    bottom: 0px;
    line-height: 0;
    right: 0px;
    position: fixed;
    z-index: 1
}

.sv-badge img {
    margin: 0;
    width: 64px
}

body.preload * {
    display: none!important;
    -webkit-transition: none!important;
    transition: none!important;
    -webkit-animation-name: none!important;
    animation-name: none!important
}

body.preload .sv-loader {
    display: block!important;
    opacity: 1;
    visibility: visible
}

.sv-loader {
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out 0.25s;
    transition: all 0.5s ease-in-out 0.25s;
    visibility: hidden;
    z-index: 999999999
}

.sv-loader-loading {
    background-color: black;
    -webkit-animation: pulsate 1.5s infinite ease-in-out;
    animation: pulsate 1.5s infinite ease-in-out;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 30px
}

.no-scroll {
    height: auto;
    overflow: hidden;
    width: 100%
}

.sv-control {
    background-size: 30px auto;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 25px;
    cursor: pointer;
    font-size: 11px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    text-align: center;
    width: 50px;
    z-index: 999999
}

.sv-control:hover {
    opacity: 0.7
}

.emoji {
    height: 20px;
    margin-bottom: 0;
    width: 20px
}

.sv-notice-image {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 30px auto
}

@media screen and (min-width: 1500px) {
    .sv-notice-image {
        max-width: 450px;
        margin: 60px auto
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir='rtl'] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

html,
body,
.sv-theme,
.sv-presentation,
.slick-slider,
.slick-list,
.slick-track {
    height: 100%
}

.slick-slider {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-padding-start: 0px
}

.slick-slide {
    line-height: 1.2;
    padding: 0 20px;
    position: relative
}

.slick-slide.full-height .textFitted {
    height: 100%
}

@media (min-width: 768px) {
    .slick-slide {
        padding: 0 50px
    }
}

@media (min-width: 992px) {
    .slick-slide {
        padding: 0 100px
    }
}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.slick-slide a {
    border-bottom: 1px solid black
}

.slick-slide a:hover {
    text-decoration: none
}

@media screen and (min-width: 768px) {
    .slick-slide a {
        border-bottom: 3px solid black
    }
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    vertical-align: middle
}

.slick-slide img.img-portrait {
    height: 100%;
    max-height: 100%;
    width: auto
}

.slick-slide img.img-landscape {
    height: auto;
    max-width: 100%;
    width: 100%
}

.sv-presentation .slick-slide {
    outline: 0
}

.slick-arrow {
    background: none;
    border: 0;
    bottom: 0;
    display: none!important;
    outline: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 10%;
    z-index: 2
}

.slick-prev {
    cursor: url("http://static.tumblr.com/39tdaic/xYxnubs39/icon-gallery-prev.png") 18 10, e-resize;
    left: 0
}

.slick-next {
    cursor: url("http://static.tumblr.com/39tdaic/twenubs3a/icon-gallery-next.png") 18 10, e-resize;
    right: 0
}

.no-touch .slick-arrow {
    display: inline-block!important
}

.no-touch .sv-presentation-controls {
    display: block
}

.sv-presentation-cover {
    background: black;
    color: white;
    position: relative
}

@-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.sv-presentation-controls {
    background-image: url(//sv-cdn.com/assets/icon_swiper@2x-2509defb96e8f864100f10e1d8dfb6a0bf2a2459a28a96e58048b0e59328b24a.png);
    background-size: cover;
    bottom: 20px;
    display: none;
    height: 49px;
    left: 50%;
    margin-left: -23px;
    pointer-events: none;
    position: fixed;
    visibility: visible;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s 0s linear;
    transition: opacity 0.3s ease-in-out, visibility 0.3s 0s linear;
    width: 46px;
    z-index: 999
}

.sv-presentation-controls.is-showing {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.no-touch .sv-presentation-controls {
    background-image: url(icon-controls@2x-fff47d4e7d48ddb72cf77beddfe0b50ae5adcdac3a390c961020dc847faca46f.png);
    height: 65px;
    margin-left: -50px;
    width: 100px
}

.sv-presentation-controls.is-showing.is-hidden,
.sv-presentation-controls.is-hidden {
    opacity: 0;
    visibility: hidden
}

.sv-presentation-controls.with-caption {
    bottom: 60px
}

.textFitted {
    vertical-align: middle;
    width: 100%
}

.textFitted p {
    font-size: inherit
}

.textFitted ul,
.textFitted ol {
    margin-top: 40px;
    text-align: left;
    width: 80%
}

.sv-presentation-title {
    line-height: 1.0;
    text-align: center
}

.sv-presentation-description {
    margin: 0 auto;
    max-width: 600px;
    text-align: center
}

.sv-presentation-description p {
    font-size: 18px
}

.sv-presentation-caption {
    bottom: 0;
    font-size: 15px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2
}

.sv-presentation-caption-text {
    background: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%
}


/*RP editions*/

.sv-presentation-caption-text {
    background: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: none;
}

.sv-presentation-title {
    line-height: 1.3;
    text-align: right;
    width: 75%;
    font-weight: bold;
}
.sv-presentation-description {
    margin: 0 auto;
    max-width: 500px;
    text-align: left;
    color: white;
}
.sv-presentation-cover {
    background: #3a3a3a;
    color: #0e0e0e;
    position: relative;
}
.sv-presentation-description p {
    font-size: 15px;
}
